extends layout

block content
    h1= title
    p Welcome to #{title}
    ul
        each flight, index in flights
            -flight= flight.getinfo()
             li= flight.number + ":" + flight.origin + "-" + flight.destination